@import "tailwindcss";

.current-mission-card {
    background: linear-gradient(135deg, #054FF0 0%, #DCFC73 100%);
    /* ... other styles ... */
}

body{
  font-family:Helvetica;
}

@layer components{
  .navbutton{
    @apply w-[80px] h-[40px] bg-blue-500 hover:bg-blue-600 hover:cursor-pointer text-amber-50 flex justify-center items-center rounded-md text-center
  }
}